{
    "extends": "./index.js",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "comma-dangle": 0,
        "prefer-destructuring": 0,
        "no-console": 0
    }
}